@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb:#ffffff;
  --background-rgb:#000;
 
}

body {
  color:var(--foreground-rgb);
  background:var(--background-rgb); 
}
